/*--------- Out of stock label ---------*/
.out_of_stock_label_div {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 0.8;
    .p-1.te_out_of_stock_lbl {
        color: black;
        background: #f2f2f2 !important;
        margin: 0px auto;
        padding: 36px 0px !important;
        border-radius: 50px;
        height: 93px;
        width: 93px;
        font-weight: bold;
        font-size: .8rem;
        justify-content: center;
        display: flex !important;
        align-items: center;
    }
}
.editor_enable .product_stock_detail{
    opacity: 1 !important;
}
.product_stock_detail{
    opacity: 1;
    color: nth($f_color, 5);
    font-size: 15px !important;
    @include media-breakpoint-down(md) {
        font-size: 12px !important;
    }
}

#products_grid, .product_slider_style5 {
    .rating_stock_detail{
        font-size: 12px;
    }
    .rating-avg {
        margin-left: 8px;
        border-radius: 2px;
        padding: 2px 4px;
        background-color: #ffffff;
        width: min-content;
        margin-bottom: 8px;
        @include media-breakpoint-down(md) {
            margin-left: 10px;
        }
        @include media-breakpoint-down(sm) {
            border: 1px solid #eaeaec;
            margin-left: 5px;
        }
        .fa {
            font-size: 12px;
            color: ($f_color, 19);
        }
        & span {
            padding: 0px 2px;
            align-self: center;
            @include media-breakpoint-down(md) {
                align-self: baseline;
            }
        }
    }
}
/* Product color variants */
.o_wsale_product_grid_wrapper,
.product_slider_style5 {
    .color-changer:not(.s_product_template_style_1 .color-changer, .s_product_product_style1 .color-changer, .product_slider_style4 .color-changer) {
        background: #fff;
    }
    &:hover {
        .color-changer.product_default_layout:not(.s_product_template_style_1 .color-changer.product_default_layout, .s_product_product_style1 .color-changer.product_default_layout, .product_slider_style4 .color-changer.product_default_layout) {
            opacity: 1 !important;
            top: -31px !important;
            background: #fff;
            @include media-breakpoint-down(md) {
                top: unset;
            }
        }
        .rating-avg {
            opacity: 0;
        }
        .product_stock_detail{
            opacity: 0;
        }
    }
    .color_swatch_count{
        font-size: 0.8rem;
        margin-top:4px;
    }
    .product_price{
        font-size: 14px !important;
    }
}
.o_wsale_layout_list .color_swatch_count{
    margin-top:2px;
}
.product_default_layout::-webkit-scrollbar {
    height: 2px;
}
.color-changer.product_default_layout:not(.s_product_template_style_1 .color-changer.product_default_layout, .s_product_product_style1 .color-changer.product_default_layout, .product_slider_style4 .color-changer.product_default_layout, .product_slider_style5 .color-changer.product_default_layout) {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 6px 10px 0;
    @include transition(all, 0.2s);
    @include o-wsale-scrollbar-subdles();
    @include media-breakpoint-between(sm, lg) {
        opacity: 1;
        position: relative;
        top: unset !important;
        padding: 0;
    }
    @include media-breakpoint-down(md) {
        position: relative;
        opacity: 1;
        padding: 0;
        z-index: 1;
    }
}
.color-changer.product_card_layout:not(.s_product_template_style_1 .color-changer.product_card_layout, .s_product_product_style1 .color-changer.product_card_layout, .product_slider_style4 .color-changer.product_card_layout, .product_slider_style5 .color-changer) {
    z-index: 8;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
    padding-top: 2px;
    @include media-breakpoint-up(md) {
        max-width: 82px;
    }
}
.color-changer:not(.s_product_template_style_1 .color-changer, .s_product_product_style1 .color-changer, .product_slider_style4 .color-changer, .product_slider_style5 .color-changer) {
    span {
        height: 20px;
        width: 20px;
        padding: 2px;
        border: 1px solid #d4ceda;
        transition: border-color ease 0.6s;
        border-radius: 50px;
        @include media-breakpoint-up(md) {
            height: 24px;
            width: 24px;
        }
        label{
            display: block !important;
        }
        &:hover {
            @include transition(all, 0.15s, ease-in);
            border: 1px solid map-get($theme-colors, "primary");
        }
    }
}
#products_grid.o_wsale_layout_list {
    .te_shop_grid .te_product_info .quick_view_modal .product_price{
        padding: 0;
    }
    .color-changer {
        position: relative;
        top: unset !important;
        opacity: 1;
        padding: 0;
    }
}
/*============= Grid view ===================*/
@include media-breakpoint-down(md) {
    .container{
        max-width: unset;
    }
}
@include media-breakpoint-down(md) {
    .price_color_attribute{
        display: block !important;
    }
}
#products_grid.theme_default_layout {
    .o_wsale_product_grid_wrapper {
        border: 1px solid #ededed;
        &:hover {
            @include box-shadow(0 3px 12px #ccc);
            .oe_product_cart .o_wsale_product_btn .btn {
                color: #000000;
                opacity: 1;
            }
        }
        .oe_product_cart .oe_product_image{
            box-shadow: unset;
        }
    }
    section.o_wsale_context_thumb_cover {
        @include media-breakpoint-down(sm) {
            gap: 0 !important;
        }
    }
}
#products_grid.theme_card_layout {
    .o_wsale_product_grid_wrapper {
        &:hover {
            .oe_product_image{
                @include box-shadow(0 3px 12px #ccc);
            }
            border-radius: 10px;
        }
        .oe_product_cart .o_wsale_product_btn .btn {
            color: map-get($theme-colors, "primary");
            opacity: 1;
        }
        .oe_product_image{
            border: 1px solid #ededed;
            border-radius: 10px;
            @include transition(all, 0.4s, ease);
        }
    }
}
#products_grid {
    .products_pager {
        @include media-breakpoint-down(lg) {
            clear: both;
        }
    }
    .o_wsale_product_grid_wrapper {
        padding: 0 !important;
        @include media-breakpoint-down(sm) {
            border-top: 0px;
        }
        @include transition(all, 0.4s, ease);
        &:hover {
            @include media-breakpoint-down(md) {
                box-shadow: none;
            }
        }
        .oe_product_cart {
            border: 0 !important;
        }
        .te_shop_icon {
            position: relative;
        }
    }
    .product_price {
        span.h6 {
            @include media-breakpoint-down(sm) {
                font-size: $font-size-base - 0.25 !important;
            }
        }
        del {
            @include media-breakpoint-down(sm) {
                font-size: $font-size-base - 0.375 !important;
                margin-right: 0 !important;
            }
        }
    }
}
#products_grid:not(.o_wsale_layout_list, .theme_default_layout) .o_wsale_products_grid_table_wrapper div.oe_product .o_wsale_product_information{
    @include media-breakpoint-down(lg) {
        position: relative;
    }
}
#products_grid.theme_default_layout:not(.o_wsale_layout_list) .o_wsale_products_grid_table .oe_product:not(.oe_product_size_stretch) .o_wsale_product_btn,
.product_slider_style5 .o_dynamic_snippet_btn_wrapper {
    top: 0;
    right: 12px;
    bottom: unset;
    left: unset;
    .oe_product.btn, .btn {
        @media (min-width: 320px) and (max-width: 992px) {

            &:not(.a-submit){
                display: none;
            }
        }
    }
    .o_add_wishlist {
        @include transition(all, 0.3s, ease);
        @include media-breakpoint-down(lg) {
            background: transparent !important;
        }
        &:disabled {
            color:nth($f_color,5);
            background-color: rgba(0, 0, 0, 0.6) !important;
            border: 1px solid nth($f_color,5);
            @include media-breakpoint-down(lg) {
                border-width: 0px;
                color: #ff0000a6 !important;
                /* Custom color specific for mobile view */
                background: nth($f_color, 27) !important;
                cursor: not-allowed;
            }
        }
    }
}
#products_grid.theme_card_layout:not(.o_wsale_layout_list) .o_wsale_products_grid_table .oe_product:not(.oe_product_size_stretch) .o_wsale_product_btn,
.product_slider_style5 .o_dynamic_snippet_btn_wrapper {
    top: -58px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    text-align: center;
    width: 100%;
    .btn:not(.a-submit){
        @media (min-width: 320px) and (max-width: 992px) {
            display: none;
        }
    }
    .o_add_wishlist {
        display: none;
    }
    .a-submit{
        @include transition(all, 0.3s, ease);
    }
    .o_add_compare {
        @include transition(all, 0.5s, ease);
    }
    .te_similar_view{
        @include transition(all, 0.6s, ease);
    }
}
#products_grid:not(.o_wsale_layout_list) .o_wsale_products_grid_table .oe_product:not(.oe_product_size_stretch) .o_wsale_product_btn,
.product_slider_style5 .o_dynamic_snippet_btn_wrapper {
    position: absolute;
    padding: 0;
    .oe_product.btn,
    .btn {
        display: block;
        margin-top: 10px;
        transform: unset;
        background: nth($f_color, 5);
        color: #000000;
        border-width: 1px;
        border-color: #cccccc;
        border-style: solid;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        line-height: 38px;
        padding: 0;
        @include transition(all, 0.3s, ease);
        &:hover {
            background: #000000;
            color: nth($f_color, 5);
        }
    }
}
@include media-breakpoint-up(lg) {
    #products_grid.theme_card_layout:not(.o_wsale_layout_list) .o_wsale_products_grid_table .oe_product:not(.oe_product_size_stretch),
    .product_slider_style5 {
        .o_wsale_product_btn .btn,
        .o_dynamic_snippet_btn_wrapper .btn {
            position: relative;
            top: 10px;
        }
        &:hover .o_wsale_product_btn .btn,
        &:hover .o_dynamic_snippet_btn_wrapper .btn {
            top: -10px;
            margin-top: 0;
        }
    }
}
div.oe_product,
.product_slider_style5 {
    .o_wsale_product_btn,
    .o_dynamic_snippet_btn_wrapper {
        span.fa.fa-refresh.fa-spin {
            margin-right: 0 !important;
        }
        .a-submit span:nth-child(2) {
            display: none;
        }
        .btn {
            margin-top: 10px;
            transform: unset;
            opacity: 1;
            background: nth($f_color, 5);
            color: #000000;
            border-width: 1px;
            border-color: #cccccc;
            border-style: solid;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            line-height: 44px;
            padding: 0;
            @include media-breakpoint-down(sm) {
                @include transition(all, 0.3s, ease);
            }
            &:hover, &:focus {
                @include media-breakpoint-up(lg) {
                    background-color: #000000 !important;
                    color: nth($f_color, 5) !important;
                }
                @include media-breakpoint-down(sm) {
                    box-shadow: none;
                }
            }
        }
    }
    .oe_product_cart .oe_subdescription.sub_desc:not(.oe_subdescription.mb-2) {
        transform: none;
        transition: none;
        margin-top: 3px;
    }
    .oe_product_cart .oe_subdescription.mb-2 {
        display: none;
    }
}
.te_discount {
    color: #ff6435;
    margin: 0 0 0 2px;
    font-size: 0.812rem;
    @include media-breakpoint-down(md) {
        font-size: 0.625rem;
        margin: 0;
    }
}
.wishlist_button{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    button{
        background-color: transparent !important;
        border: 0;
        &:disabled{
            color: #ec2c2c;
             .fa-heart-o:before{
                content: "\f004";
             }
        }
    }
}
.o_wsale_layout_list .wishlist_button{
    top: unset;
    right: unset;
    left: 145px;
}
/*============= list view ===================*/
.o_wsale_product_information h6.o_wsale_products_item_title.mb-2 {
    @include media-breakpoint-down(md) {
        margin: 0 !important;
    }
}
#products_grid.o_wsale_layout_list.theme_default_layout{
    .oe_product_cart {
        padding-bottom: 0 !important;
        border: 0 !important;
    }
}
#products_grid.o_wsale_layout_list {
    .price_color_attribute{
        display: block !important;
    }
    .oe_product_image {
        flex: 0 0 auto;
        width: 12rem;
        max-width: 35%;
        min-width: 100px;
    }
    .oe_product {
        .o_wsale_product_information {
            @include media-breakpoint-down(sm) {
                padding: 0.4rem;
            }
        }
        .oe_product_cart {
            padding-bottom: 10px;
            border-bottom: 1px solid #ededed !important;
            @include media-breakpoint-down(sm) {
                display: block !important;
                height: auto !important;
            }
        }
        @include media-breakpoint-down(sm) {
            .oe_product_image {
                position: relative;
                height: auto !important;
                padding: 0 !important;
                display: inline !important;
            }
            img {
                height: 100% !important;
                width: 100% !important;
                object-fit: scale-down !important;
            }
        }
        .o_wsale_products_item_title {
            font-size: 1rem !important;
            @include media-breakpoint-down(md) {
                margin: 0 !important;
            }
        }
        .product_price {
            margin-bottom: 0.25rem;
            h6 {
                font-size: $font-size-base - 0.125 !important;
            }
            del {
                color: #969696 !important;
                display: inline-block;
                font-family: inherit;
            }
        }
        .o_wsale_product_btn {
            padding: 5px;
            @include media-breakpoint-down(md) {
                display: none;
            }
            .o_add_wishlist{
                display: none;
            }
        }
    }
}
.o_notification_fade-enter-active{
    .action_btn_toast a{
        border-radius: 4px;
        padding: 5px;
        font-size: 12px;
        color: #2d3748 !important;
        border: 1px solid #cbd5e0;
    }
    .product_name, div.align-items-end{
        font-weight:500;
    }
    &.show{
        transform: translateX(0%);
    }
    .toast-body{
        border-bottom-left-radius: calc(0.4rem - 1px);
        border-bottom-right-radius: calc(0.4rem - 1px);
        .progress {
            left: 0;
            height: 3px;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: map-get($theme-colors, "primary");;
            }
            &.active:before{
                animation: progress 4s linear forwards;
            }
        }
        .row.g-2{
            margin-bottom: 10px;
        }
        .row div{
            margin-top: 0 !important;
        }
    }
    @keyframes progress {
        100% {
            right: 100%;
        }
    }
}
.te_overlay #o_wsale_total_accordion {
    z-index: 1;
}
.oe_website_sale  .o_wsale_products_grid_before_rail{
    height: 75vh !important;
    scrollbar-width: auto !important;
    @include o-wsale-scrollbar-subdles();
}
#products_grid_before{
    .products_attributes_filters{
        padding-top: 0.3rem;
        margin-top: 0.5rem;
    }
    .accordion-header, .d-flex.flex-wrap{
        padding: 0px 10px;
        background: #f5f5f5;
        border-radius: 5px;
        margin: 0.2rem 0;
    }
    #o_wsale_categories li > a{
        padding: 0px 10px !important;
    }
    .accordion-collapse{
        padding-left: 0.5em;
    }
    #o_wsale_price_range_option{
        margin-bottom: 0.5rem !important;
    }
}
#products_grid_before, #o_wsale_offcanvas_content{
    label.lbl_see_all {
        margin: 0px 0px 0px 15px;
        font-size: 15px;
    }
    .products_categories, .categories_filter{
        background: #f5f5f6;
        border-radius: 10px;
        .attr_count{
            background-color: white;
        }
        .accordion-header{
            cursor: pointer;
            .accordion_category_title{
                z-index: 1;
            }
            &:hover .attr_count {
                background-color: #000000;
                color: nth($f_color, 5);
                border-color: #000000;
            }
        }
        .nav-item .nav-item, .nav-item .d-flex.justify-content-between{
            cursor: pointer;
            &:hover .attr_count {
                background-color: #000000;
                color: nth($f_color, 5);
                border-color: #000000;
            }
        }
    }
    .accordion-header.d-flex{
        justify-content: space-between;
        position: relative;
        .o_categories_recursive_button{
            position:absolute;
            width: 100% !important;
            opacity: 0;
        }
    }
    .css_attribute_color {
        border: 1px solid #ededed !important;
        width: 22px !important;
        height: 22px !important;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        &.active{
            box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #000000;
        }
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        @include position(absolute, 50%, auto, auto, 5px);
        -moz-appearance: none;
        width: 17px;
        height: 17px;
        opacity: 0.001;
        cursor: pointer;
        z-index: 9999;
        transform: translateY(-50%);
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        @include position(relative) padding-left: 2.3em;
        cursor: pointer;
    }
    /*--------- checkbox aspect---------- */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: "";
        @include position(absolute, 50%, auto, auto, 7px);
        width: 15px;
        height: 16px;
        border: 1px solid #5a5a5a;
        background: nth($f_color, 5);
        @include border-radius(1px);
        transform: translateY(-50%);
    }
    /*-------------- checked mark aspect-------------- */
    input[type="checkbox"]:checked + label:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: auto;
        left: 10px;
        @include transition(all, 0.2s);
        background-color: #000000;
        width: 9px;
        height: 10px;
        border-color: #5a5a5a;
    }
    .css_attribute_color {
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            display: none;
        }
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            display: none;
        }
        &:before{
            border: 2px solid nth($f_color, 5);
            box-shadow: inset 0 0 3px #5a5a5a;
        }
    }
    .form-check-input:checked{
        background-color: #000000;
    }
    .form-check{
        cursor: pointer;
        position: relative;
        padding-left: 0;
        padding: 0.1rem 0rem 0.25rem 0.2rem;
        margin-top: 1px;
        .form-check-input {
            opacity: 0 !important;
            position: absolute !important;
            width: 100% !important;
            height: 100% !important;
            top: 9px !important;
            left: 0 !important;
        }
        &:hover .attr_count,  &.active .attr_count{
            background-color: #000000;
            color: nth($f_color, 5);
            border-color: #000000;
        }
    }
    .attr_count{
        background-color:#f5f5f7;
        padding: 0px 5px;
        min-width: 30px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        margin-top: 2px;
        transition: color 0.35s ease, background-color 0.35s ease, border-color 0.35s ease;
    }
    .wsale_products_categories_list{
        padding-left: 0.5em;
        ul.nav{
            .nav-item{
                color: #5a5a5a;
            }
        }
    }
    .fw-normal, .nav-item a, select{
        color: #5a5a5a;
        text-decoration: none !important;
    }
    b{
        font-weight: 500;
    }
    .accordion-button{
        padding: 0.5rem 1rem;
    }
}
.accordion-button::after{
    content: "\f078";
    font-family: "FontAwesome";
    width: 0.8rem;
    display: block;
    float: right;
    font-size: 0.8125rem;
    color: #adb5bd !important;
    background-image: none !important;
    margin-right: 7px;
}
.accordion-button:not(.collapsed)::after{
    transform: rotate(-180deg);
}
#o_wsale_offcanvas_content{
    h6.mb-3.accordion-header{
        margin-bottom: 0 !important;
        .accordion-button{
            padding: 1rem 1.5rem !important;
        }
    }
    #o_wsale_price_range_option{
        padding: 0 !important;
    }
    .accordion-button:not(.tag_filter .accordion-button){
        padding: 0.5rem 1rem !important;
        background: #f5f5f5 !important;
        margin: 0.5rem 0;
    }
    .nav.d-flex.flex-column.mb-3{
        padding: 1rem 1.5rem !important;
    }
    .accordion-item {
        border: 0 !important;
        .list-group-item.border-0.ps-0.pb-0{
            padding-right: 0;
        }
    }
    .tag_filter{
        order: 2 !important;
        .accordion-header{
            padding: 0.5rem 1rem;
            background: #f5f5f5;
            margin: 0.5rem 0;
        }
        .accordion-button{
            padding: 0;
        }
    }
}
.js_attributes{
    .brand_filter_scroll, .brand_filter_canvas_scroll{
        max-height: 220px;
        overflow: auto;
        @include o-wsale-scrollbar-subdles();
    }
}
.brand_main {
    display: block;
    div.brand_logo.te_s_attr_brand{
        display: inline-block;
        width: 32% !important;
    }
    div.te_s_attr_brand{
        color: #5a5a5a;
        margin-top: 1px;
        vertical-align: middle;
        text-align: center;
        .form-check{
            display: flex;
            justify-content: space-between;
        }
        label.nav-link{
            margin: 0 !important;
            padding: 0rem 0rem 0.25rem 0rem;
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            &.active{
                background-color: transparent;
            }
        }
        img{
            max-width: 60px;
            height: auto;
            @media (min-width: 992px) and (max-width: 1299px){
                max-width: 45px;
            }
        }
        label.active img {
            border: 1px solid black;
            border-radius: 50px;
            padding: 3px;
        }
    }
}
.brands{
    margin-bottom: 18px;
    .brands_img {
        margin: 5px;
        .img_div {
            width: 100px;
            height: 100px;
            padding: 5px;
            border: 1px solid #eee;
            .oe_img_bg.o_bg_img_center.rounded-3.brand_image {
                max-width: 100%;
                height: 90px;
            }
        }
    }
    .col-lg-10.brand_desc {
        margin: 5px;
        padding: 5px;
        width: 90%;
        h4.brand_name{
            font-weight: 500;
        }
    }
}
.oe_website_sale .o_wsale_filmstip_wrapper{
    scroll-snap-type: unset;
    scrollbar-color: unset;
    @include o-wsale-scrollbar-subdles();
    ul li{
        .btn-light{
            background: unset !important;
            border: 1px solid #ededed;
            padding: 0;
            border-radius: 7px;
            margin-bottom: 0.2rem;
            &:hover{
               border-color: #ededed;
               box-shadow:0 3px 12px #ddd;
            }
            span{
                width: max-content;
            }
        }
    }
}
.products_header{
    width: 100%;
    text-align: right;
    display: inline-block;
    padding: 0px 12px;
    padding-bottom: 1rem;
    border-bottom : 1px solid #ededed;
    @include media-breakpoint-down(md){
        border-bottom: 0px;
        box-shadow: 0px 1px 12px 0px #ddd;
         padding-bottom:0 !important;
    }
    .te_mb_filter_count{
        border-radius: 12px;
        font-size: 0.7rem;
        top: -12px;
        position: absolute;
        right: -11px;
        background:o-color('primary') !important;
        padding: 0.25em 0.4em;
    }
    .products_page_options{
        .o_searchbar_form{
            max-width: 200px;
            margin-right: unset !important;
        }
        @include media-breakpoint-down(md){
            text-align: center;
        }
        .o_wsale_apply_list, .o_wsale_apply_grid{
            border: 1px solid #ededed;
            margin-left: 5px;
        }
        .o_wsale_apply_layout{
            display:inline-block !important;
            @include media-breakpoint-down(md){
                display: none !important;
            }
        .btn{
            background-color: transparent !important;
            font-size: 0.85rem;
            padding: 0.3rem 0.6125rem;
            border-radius: 0;
        }
        .o_wsale_apply_list{
            border: 1px solid #ededed;
             margin-left: 5px;
        }
        .o_wsale_apply_grid{
            border: 1px solid;
            border-color: #ededed;
        }
    }
    .o_pricelist_dropdown{
        padding: 5px 10px !important;
    }
    .o_sortby_dropdown, .o_pricelist_dropdown, button.btn:not(.oe_search_button), .o_searchbar_form{
        border: 1px solid #ededed;
        padding: 0;
        background-color: unset;
        height: max-content;
        small{
            padding: 0rem 0rem 0 0.5rem;
            font-size: 0.875rem;
            font-weight: 400 !important;
        }
        .dropdown-toggle{
            @include media-breakpoint-down(lg){
                display:inline-flex;
                align-items:center;
            }
            &::after{
                @include media-breakpoint-down(lg){
                    display:none !important;
                }
            }
        }
        .dropdown-toggle, input{
            background-color: unset !important;
            height: max-content;
            box-shadow: unset !important;
            border: 0px !important;
            padding-left: 5px;
            font-size: 0.875rem;
        }
        .dropdown-menu{
            box-shadow: 0px 3px 10px 0 #32325d1a;
            border-radius: 0;
        }
        .oe_search_button{
            background-color: unset !important;
            border: 0px !important;
            padding: 0px 10px;
        }
    }
    button[data-bs-toggle="offcanvas"]{
        padding: 0.3rem 0.6125rem !important;
    }
    .dropdown_sorty_by{
        border: 1px solid #ededed;
        @include media-breakpoint-down(lg){
            display:inline-flex !important;
            margin:0 0 0 5px;
            align-items:center;
        }
        @include media-breakpoint-down(md){
            text-align: center;
            margin-top: 7px !important;
            border:0;
            display: inline-block;
        }
       small{
            @include media-breakpoint-down(sm){
                padding: 0rem 0rem 0 0.5rem;
                line-height: 18px;
                vertical-align: middle;
                font-weight: 400 !important;
                font-size: 15px;
            }
       }
       .dropdown-menu-end{
           a[role="button"]{

                display:none !important;
           }
       }
    }
    }
  .total_product{
    	display: block;
    	float: left;
		text-align: left;
		padding: 2px 10px 0 3px;
		padding-bottom: 0;
		@include media-breakpoint-down(lg)
		{
			padding: 8px 0 0 0;
			display: none !important;
			.te_view_filter_span
			{
				@include position(relative,0,0,auto,auto);
				padding: 0.675rem 1rem;
				border:1px solid $border-color;
				@include style(3,3,inherit)
				display: none;
			}
		}
		@include media-breakpoint-down(sm) {
		    width: 100%;
		}
		.prd-count{
		    margin-top:5px;
		    display:inline-block;
		}
    }
.sort_by_mobi{
        display:none !important;
        @include media-breakpoint-down(lg){
            display: inline-block !important;
        }
        @include media-breakpoint-down(md){
            font-size: 1rem;
            margin-right: 0.25rem;
            line-height: 20px;
        }
    }
    .te_shop_filter_resp{
            border: 1px solid #ededed;
            padding: 0.3rem 0.6125rem;
        @include media-breakpoint-down(lg){
            display:block;
            float: left;
            border:0;
        }
        @include media-breakpoint-down(md){
            border-right: 1px solid #ddd !important;
            text-align: center !important;
            margin-top: 0px !important;
            line-height: 36px;
            padding-top: 0px !important;
            width: 50%;
            margin-left: 0px !important;
            padding-bottom: 0px;
            border-top: 0 !important;
            border-left: 0 !important;
            border-bottom: 0 !important;
            border-radius: 0 ;
        }
    }
    button{
        &:focus:not(:focus-visible){
            box-shadow:unset;
        }
    }
}
.te_view_all_filter_inner{
    .te_clear_all_form_selection{
        cursor: pointer;
        font-size: nth($f_sizes,2);
        padding: 0px 4px 0px 15px;
        color: #000 !important;
        transition: color .2s ease-in-out;
        margin-bottom:4px;
        @include media-breakpoint-down(xs) {
            display: inline-block;
        }
        &:before, &:after{
            content: " ";
            @include position(absolute,50%,auto,auto,0px);
            display: inline-block;
            margin-top: -1px;
            width: 10px;
            height: 2px;
            background-color: #000;
            transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:hover:after, &:hover:before {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            background-color: #000;
        }
        &:hover{
            color:#000 !important;
        }
    }
    & .attribute{
		display: inline-block;
		@include style(2,3);
        margin-right: 2px;
        border-left: 1px solid #ededed;
        padding-left: 8px;
        span.position-relative{
            color: #5a5a59;
            cursor: pointer;
            padding: 1px 26px 0px 12px;
            border: 1px solid #e5e5e5;
            margin: 0px 0px 0px 5px;
            border-radius: 3px;
        }
	}
	.te_clear_attr_a{
        color: #5a5a59;
        cursor: pointer;
        padding: 1px 26px 0px 12px;
        border: 1px solid #e5e5e5;
        margin: 0px 0px 0px 5px;
        display: inline-block;
        border-radius: 3px;
        font-size: 0.875rem;
	}
	.attr_filters{
	    font-size: 0.875rem;
	}
	.attr_value{
	    position: relative;
        transition: color .1s ease-in-out;
        &:before, &:after{
            content: " ";
            @include position(absolute,50%,-15px,0px);
            display: inline-block;
            margin-top: -1px;
            width: 10px;
            height: 2px;
            background-color:#000;
            transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &:hover:after, &:hover:before {
            -webkit-transform: rotate(0);
            transform: rotate(0);
            background-color: #ded9d9;
        }
        &:hover{
            color: #ded9d9 !important;
            text-decoration: line-through !important;
        }
    }
}
a.te_clear_all_variant_off_canvas {
    color: #eb5813ba;
    padding-left: 3px;
    font-size: 14px;
    &:hover {
        color: #ff6435 !important;
        @include transition(all, 0.5s, ease);
    }
}
.te_clear_all_variant {
    color: #eb5813ba !important;
    font-size: 14px;
    /* Not defined in variable */
    cursor: pointer;
    z-index: 98;
    text-decoration: underline !important;
    &:hover {
        color: #ff6435 !important;
        @include transition(all, 0.5s, ease);
    }
}
#products_grid:where(:not(.o_wsale_layout_list)) .o_wsale_product_information{
    container-type: unset;
    .o_wsale_products_item_title{
        font-size: unquote("clamp(0.95rem, 0.5rem + 3cqw, 0.825rem)");
    }
}
.shop_qty_selector{
    .a-submit{
        font-size: 15px;
        border-radius: var(--border-radius) !important;
        width: -webkit-fill-available;
    }
    .qty_selector input{
        padding: 0px 9px;
        max-width: 7ch;
        border-radius: 0;
        &:active{
           border-color: $input-border-color;
        }
    }
}
.oe_website_sale h1[itemprop="name"], .oe_website_sale .h1[itemprop="name"]{
    font-size: 1.75rem;
    font-weight: 500;
}

/* Offer section */
.offer_sidebar_offcanvas_main{
    font-size: 22px;
    font-weight: bold;
    .offer_sidebar_offcanvas_button{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
        @include media-breakpoint-down(lg) {
            z-index: 999;
        }
        .offer_sidebar_btn{
            font-size: 18px;
            font-weight: bold;
            i{
                font-weight: bold;
                transition: transform 0.3s ease;
            }
        }
        .offer_sidebar_btn.open i {
            transform: rotate(180deg);
        }
        @include media-breakpoint-down(sm) {
            right: 0 !important;
        }
    }
    &.offer_position_top{
        .offcanvas_offer_popup{
            top: 0;
        }
    }
    &.offer_position_center{
        .offer_sidebar_offcanvas_button{
            z-index: 3;
            top: 50% !important;
            transform: translateY(-50%);
        }
        .offcanvas_offer_popup{
            margin: auto;
        }
    }
    &.offer_position_bottom{
        .offer_sidebar_offcanvas_button{
            bottom: 8rem;
            top: unset !important;
        }
        .offcanvas_offer_popup{
            bottom: 8rem;
            top: unset;
        }
    }
    .offcanvas_offer_popup{
        background-color: #cfe7ff;
        max-height: fit-content;
        transition: 0.3s all;
        .te_cross{
            &:before{
                display: flex;
                justify-content: center;
            }
        }
        @include media-breakpoint-down(md) {
            z-index: 9999;
        }
        @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.15));
        .offcanvas-body{
            padding: 0.5rem;
            margin-right: 0.5rem;
            @include o-wsale-scrollbar-subdles();
            height: 100% !important;
            max-height: 96vh !important;
            .offer_section_title{
                .offer_section_title_msg{
                    font-size: 13px;
                }
                .offer_sidebar_code{
                    font-size: 14px;
                }
            }
            .offer_section_image{
                img{
                    max-height: 150px;
                    @include media-breakpoint-down(md) {
                        max-height: 120px;
                    }
                }
            }
            .offer_section_product_info{
                font-size: 14px;
            }
        }
    }
}
